/*Formatação*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI';
    color: #ffffff;
}

/*Login*/
.body_login {
    background: linear-gradient(#101111, #072A2A);
}

.form1 {
    width: 30vw;
    height: 80vh;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 10vh auto;
    background-color: #0A3D3D;
    color: white;
}

.h1_login {
    font-size: 50px;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}

.mb-3 {
    width: 80%;
    margin: 70px auto;
}

.form-label {
    font-size: 22px;
}

.form-control {
    height: 50px;
}

.btn1 {
    margin-top: 120px;
    text-align: center;
}

.button {
    width: 207px;
    height: 53px;
    border-radius: 25px;
    background-color: #ED6A1A;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}



/*Tela Geral*/

/*header*/
header {
    width: 100vw;
    height: 8vh;
    background-color: #072A2A;
    display: flex;
    align-items: center;
    box-shadow: #072446 0 0 20px;

}

.titulo1 {
    margin-left: 50px;
    color: #ED6A1A;
    font-size: 24px;
}

.img1 {
    width: 103px;
    height: 37px;
    margin-left: 3vw;
}

.btn2 {
    height: 28px;
    width: 187px;
    border-radius: 10px;
    border: none;
    background-color: #ED6A1A;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn2:hover {
    cursor: pointer;
    box-shadow: #ED6A1A 0px 0px 20px;
}


/*Main*/
main {
    display: flex;
}

.nav1 {
    width: 239px;
    height: 92vh;
    background-color: #0A3D3D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ul1 {
    padding-top: 20px;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.lista1 {
    padding: 15px 0px 15px 6px;
}

.lista1:hover {
    color: #c7c7c7;
    text-shadow: #ffffff 0px 0px 20px;
    cursor: pointer;
}

.lista {
    color: #ED6A1A !important;
    font-weight: bolder;
    padding: 15px 0px 15px 6px;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}


.hr1 {
    width: 90%;
    margin: 0 auto;
    border-color: #ED6A1A;
}

/*Cadastro de usuários*/
.conteudo {
    flex-grow: 1;
    background-color: #CFD8D6;
    height: 92vh;
    padding: 40px;
    overflow-y: auto;
}

.card_usuarios {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    min-height: 80vh;
}

.barra_busca {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input_buscar {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #ced4da;;
    padding: 5px 15px;
}

.btn_buscar {
    background-color: #0A3D3D;
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
    border: none;
    margin-left: 10px;
}


.btn_add {
    background-color: #0A3D3D;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
}

.table {
    margin-top: 20px;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    color: #333;
    padding: 12px;
}

.table thead th:first-child {
    border-radius: 10px 0 0 0;
}

.table thead th:last-child {
    border-radius: 0 10px 0 0;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
    color: #333;
}

.badge_admin {
    background-color: #8EDE7E;
    color: #000000;
    border: 1px solid #007D17;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 0.9rem;
    display: inline-block;
}

.badge_funcionario {
    background-color: #E2E27E;
    color: #000000;
    border: 1px solid #818B01;
    padding: 2px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: inline-block;
}

.btn_edit {
    background-color: #0A3D3D;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_delete {
    background-color: #FB4242;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}