/*Formatação*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI';
    color: #ffffff;
    background-color: #cfd8d6;
}

/*Login*/
.body_login {
    background: linear-gradient(#101111,  #072A2A, #072A2A);
    height: 84vh;
}

.form1 {
    width: 25vw;
    height: 68vh;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 16vh auto;
    background-color: #0A3D3D;
    color: white;
}

.h1_login {
    font-size: 50px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    font-weight: lighter;
}

.mb-3 {
    width: 80%;
    margin: 50px auto;
}

.form-label {
    font-size: 22px;
}

.form-control {
    height: 40px;
}

.btn1 {
    margin-top: 100px;
    text-align: center;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #ED6A1A;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}


/*Tela Geral*/
/*Main*/
main {
    display: flex;
}

.nav1 {
    width: 240px;
    height: 100vh;
    background-color: #0A3D3D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 155px;
    height: auto;
    margin-top: 30px;
    margin-bottom: -470px;
    filter: saturate(0);
    filter: brightness(100);
}

.ul1 {
    padding-top: 20px;
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.lista1 {
    padding: 15px 0px 15px 6px;
}

.lista1:hover {
    color: #c7c7c7;
    text-shadow: #ffffff 0px 0px 20px;
    cursor: pointer;
}

.lista {
    color: #599967 !important;
    font-weight: bolder;
    padding: 15px 0px 15px 6px;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}

.hr1 {
    width: 90%;
    margin: 0 auto;
    border-color: #599967;
}

.box_usuario{
    width: 240px;
    height: 8vh;
    background-color: #0F2222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_img_usuario{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
}

.h3{
    margin-left: 20px;
    margin-top: 10px;
}

.h3_2{
    font-size: 13px;
    color: #b4b4b4;
}

h3{
    font-size: 18px;
}

/*Cadastro de usuários*/
.conteudo {
    flex-grow: 1;
    background-color: #CFD8D6;
    height: 100vh;
    padding: 40px;
    overflow-y: auto;
}

.card_usuarios {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    min-height: 80vh;
}

.barra_busca {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input_buscar {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #ced4da;;
    padding: 5px 15px;
}

.btn_buscar {
    background-color: #0A3D3D;
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
    border: none;
    margin-left: 10px;
}


.btn_add {
    background-color: #0A3D3D;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
}

.table {
    margin-top: 20px;
}

.table thead th {
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    color: #333;
    padding: 12px;
}

.table thead th:first-child {
    border-radius: 10px 0 0 0;
}

.table thead th:last-child {
    border-radius: 0 10px 0 0;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
    color: #333;
}

.badge_admin {
    background-color: #8EDE7E;
    color: #000000;
    border: 1px solid #007D17;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 0.9rem;
    display: inline-block;
}

.badge_funcionario {
    background-color: #E2E27E;
    color: #000000;
    border: 1px solid #818B01;
    padding: 2px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: inline-block;
}

.btn_edit {
    background-color: #0A3D3D;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_delete {
    background-color: #FB4242;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}